@model IEnumerable<HotelsManager.Models.Hotels.Hotel>
@{
    ViewData["Title"] = "Список отелей";
}

<h2>@ViewData["Title"]</h2>
<p>
    <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("CreateHotel", "AdminHotel")'">Создать отель</button>
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Звезды</th>
        <th>Цена</th>
        <th>Управление</th>
    </tr>

    @foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Stars</td>
        <td>@item.Price@item.Currency</td>

        <td>
            @{
                string id1 = (item.Id).ToString();
            }
            <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("EditHotel", "AdminHotel", new { id = id1})'">Редактировать</button>
        </td>
    </tr>
}
</table>
